<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_C55a0w6cVs4Pe-FqIJLJO3EVqT-qpGo</string>
	<key>GCM_SENDER_ID</key>
	<string>339399210213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.gastocerto.gastoCerto</string>
	<key>PROJECT_ID</key>
	<string>gasto-certo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gasto-certo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339399210213:ios:cf52a4f77fd79ab5f6900c</string>
</dict>
</plist>